<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign_Up</title>
    
    <!-- bootstarp designs -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- my designs -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <br><br>
    <div class="container">
        <div class="row  justify-content-center align-items-center">
            <div class="col-sm-4 col-md-5 bcolor">
                    <h2 class='text-center mb-4 mt-4 text-white'>Sign Up</h2>
                    <div class="form-group">
                    <form action="" method="post" novalidate>
                        {% csrf_token %}
                        {% for fm in form %}
                          {{fm}}<br>
                          <small class="text-warning">{{fm.errors|striptags}}</small>
                        {% endfor %}
                        <button type="submit" value="submit" class="btn btn-info  form-control text-white">Submit</button>
                    </form>  
                    
                </div>
            </div>
        </div>
    </div>   
</body>
<!-- bootstarp js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Jquery designs-->
<script src="{% static 'js/Jquery.js' %}"></script>
</html>